<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH HEROES</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <img src="img/Charles Babbage.png" alt="">
    <h1>CHARLES BABBAGE</h1>
    <h2>Información personal</h2>
       <p>Nacimiento	26 de diciembre de 1791 
        Londres (Reino de Gran Bretaña) o Walworth (Reino Unido) 
        Fallecimiento	18 de octubre de 1871  (79 años)
        Londres (Reino Unido de Gran Bretaña e Irlanda) 
        Sepultura	cementerio de Kensal Green
        Nacionalidad	Británica
        Religión	Cristianismo 
        Familia
        Hijos	8 
        Educación
        Educación	Grado en Artes y Maestría en Artes 
        Educado en	
        Peterhouse
        Totnes Grammar School
        Trinity College (desde 1810) 
        Información profesional
        Ocupación	Matemático, informático teórico, inventor, economista, filósofo, profesor universitario, ingeniero y astrónomo 
        Área	Matemáticas, filosofía analítica y ciencias de la computación 
        Cargos ocupados	Cátedra Lucasiana de Matemáticas (1829-1839) 
        Empleador	Universidad de Cambridge 
        Obras notables	máquina analítica 
        Miembro de	
        Royal Society
        Academia de Ciencias de Baviera
        Academia de Ciencias de Hungría
        Sociedad Real de Edimburgo (desde 1820)
        Royal Astronomical Society (desde 1820)
        Academia Estadounidense de las Artes y las Ciencias (desde 1832)
        Royal Statistical Society (desde 1834)
        Academia de Ciencias de Turín (desde 1841) 
        Distinciones	
        Fellow of the Royal Society of Edinburgh
        Miembro de la Academia Estadounidense de las Artes y las Ciencias
        Miembro de la Royal Society (1816)
        Medalla de oro de la Real Sociedad Astronómica (1824) 
        Firma	Charles Babbage Signature.</p>   
</body>
</html>